<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <temporaryOfflineCause class="hudson.slaves.OfflineCause$UserCause">
    <timestamp>1614478021918</timestamp>
    <description>
      <holder>
        <owner>hudson.slaves.Messages</owner>
      </holder>
      <key>SlaveComputer.DisconnectedBy</key>
      <args>
        <string>admin</string>
        <string> : testing</string>
      </args>
    </description>
    <userId>admin</userId>
  </temporaryOfflineCause>
  <name>Slave1</name>
  <description>Jenkins Slave</description>
  <remoteFS>/Users/kfs/Documents/Learning/jenkins_learning/</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.5">
    <host>localhost:8080</host>
    <port>22</port>
    <credentialsId></credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>Jenkins Slave</label>
  <nodeProperties/>
</slave>